/* 15 January 2025 */

:root {
    --primary-background-color: blue;
    --secondary-background-color: steelblue;
    /*warm-sand;*/
    --text1-color: #000;
    --text2-color: #fff;
    /*lightgoldenyellow;*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*to check boxes*/
    /* border: 2px solid black; */
}

body {
    font-family: var(--body-font);
    color: var(--text1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    width: 100px;
    height: auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--text2-color);
    background-color: var(--secondary-background-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

h2 {
    text-align: center;
    background-color: var(--secondary-background-color);
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: left;
    font-size: x-small;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 40px;

}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    bottom: 0px;
    background-color: var(--secondary-background-color);
    text-align: left;
    opacity: .7;
    color: var(--text1-color);
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-background-color);
    color: var(--text2-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 175px;
}