/* 23 January 2025 */

:root {
    --primary-background-color: #247;
    --secondary-background-color: steelblue;
    --text1-color: #000;
    --text2-color: #fff;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border added for learning purpose only */
    /* border: 1px solid black; */
}

body {
    font-family: var(--body-font);
    color: var(--text1-color);
}

header,
main,
footer {
    max-width: 1024px;
    min-width: 512px;
    margin: 0 auto;
}

header {
    background-color: var(--secondary-background-color);
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    margin-bottom: 1rem;
}

header img {
    width: 150px;
    height: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    /* align-self: stretch; */
}

nav li {
    flex: 1 1 auto;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--text2-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--text1-color);
    background-color: var(--secondary-background-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

h2 {
    text-align: center;
    /* background-color: var(--text2-color); */
    padding: 1rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: right;
    /* font-size: small; */
    /* display: grid; */
    /* grid-template-columns: 2fr 1fr; */
}

footer nav {
    text-align: right;

}

.socialmedia a {
    text-decoration: none;
    display: inline;
    justify-content: right;

}

.socialmedia img {
    width: 40px;

}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    bottom: 0px;
    background-color: var(--secondary-background-color);
    text-align: left;
    opacity: .7;
    color: var(--text1-color);
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-background-color);
    color: var(--text2-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 175px;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.navigation h2 {
    grid-column: span 5;
}

figure {
    place-items: center;
    margin: 1rem;
}

.navigation img {
    width: 150px;
}

.navigation2 {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* justify-items: center; */
    /* background-color: lightgray; */
}

.navigation2 h2 {
    grid-column: span 3;

}

.navigation2 img {
    place-items: center;
    box-shadow: 0 0 30px gray;
    margin-top: 1rem;
}