/* 15 January 2025 */

:root {
    --primary-background-color: #247;
    --secondary-background-color: steelblue;
    --text1-color: #000;
    --text2-color: #fff;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border added for learning purpose only */
    border: 1px solid black;
}

body {
    font-family: var(--body-font);
    color: var(--text1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    width: 100px;
    height: auto;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--text1-color);
    background-color: var(--secondary-background-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

h2 {
    text-align: center;
    background-color: var(--secondary-background-color);
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: left;
    font-size: x-small;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 40px;
    display: grid;
    align-items: end;

}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    bottom: 0px;
    background-color: var(--secondary-background-color);
    text-align: left;
    opacity: .7;
    color: var(--text1-color);
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-background-color);
    color: var(--text2-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 175px;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

figure img {
    width: 150px;
}