* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

:root {
    --color-main: #247;
    --color-text-dark: darkblue;
    --color-light: steelblue;
    --text-light: #fff;
}

nav {
    background-color: var(--color-light);
    padding: 10px;
}

nav a {
    color: var(--text-light);
    padding: 10px;
    display: block;
}

h1 {
    color: var(--color-text-dark);
    padding: .5rem;
}

main {
    max-width: 640px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--color-light);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    /* padding: 0; */
    margin: 1rem;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 75px;
    /* color: var(--color-text-dark); */
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    /* border: 2px solid #000; */
    border: 1px solid rgb(0 0 0 /.1);
    padding: 1rem;
    background-color: #ddd;
    /* #ddd */
    color: #000;
}

.indent {
    padding-left: 2rem;
}