* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border added for learning purpose only */
    /* border: 1px solid black; */
}

:root {
    --color-main: #247;
    --color-text-dark: darkblue;
    --color-light: steelblue;
    --text-light: #fff;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--color-light);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-light);
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

h1 {
    color: var(--color-text-dark);
    padding: .5rem;
    border-bottom: 1px solid var(--color-text-dark);
}

main {
    /* max-width: 640px; */
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--color-light);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem;
}

p {
    /* padding: 0; */
    margin: 1rem;
}

aside {
    width: 20rem;
    text-align: center;
    /* position: relative; */
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 70px;
    /* color: var(--color-text-dark); */
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    /* border: 2px solid #000; */
    border: 1px solid rgb(0 0 0 /.1);
    padding: 1rem;
    background-color: #ddd;
    /* #ddd */
    color: #000;
}

.indent {
    padding-left: 2rem;
}

.grid {
    display: grid;
    align-items: center;
}